<div class="container">
  <%= flash[:notice] %>
  <div class="row justify-content-md-center mb-lg-5">
    <div class="col-md-10">
    <h2>新規趣味登録</h2><br>
    <%= form_for @hobby, url: hobby_create_path(params[:id]) do |f| %>
    	<div class="form-group">
          <%= f.label :趣味名 %><br>
          <%= f.text_field :name %>
        </div>
        <div class="form-group">
          <%= attachment_image_tag @hobby, :image, :fill, 100, 100, format: "jpg", :size => "100x100", fallback: "no-category-image.jpg" %>
          <%= f.label :イメージ画像 %><br>
          <%= f.attachment_field :image, placeholder: "hobby_image" %>
        </div>
        <div class="form-group">
		  <%= f.label :カテゴリー %><br />
		  <%= f.select :category_id, [["学習・勉強", "1"], ["スポーツ・健康", "2"], ["ものづくり", "3"], ["音楽", "4"], ["旅行", "5"], ["芸術・アート", "6"], ["料理・グルメ", "7"], ["ビジネス", "8"], ["ゲーム", "9"], ["ダイエット", "10"], ["手品・マジック", "11"], ["写真・映像", "12"], ["写真・映像", "13"], ["執筆", "14"], ["観戦・鑑賞", "15"], ["その他", "16"]],:prompt => "選択" %>
		</div>
		<div class="form-group">
          <%= f.label :紹介文 %><br>
          <%= f.text_field :introduction %>
        </div>
        	<%= f.fields_for :first_step do |fs| %>
        		<div class="form-group">
          			<%= fs.label :始め方 %><br>
          			<%= fs.text_field :introduction %>
        		</div>
        		<div class="form-group">
          			<%= fs.label :コスト %><br>
          			<%= fs.text_field :cost %>
        		</div>
        		<div class="form-group">
          			<%= fs.label :アイテム %><br>
          			<%= fs.text_field :item %>
        		</div>
        	<% end %>
        	<%= f.fields_for :narrow do |n| %>
		        <div class="field">
		          <%= n.label :active_point %><br />
		          <%= n.select :active_point, [["5", "5"], ["4", "4"],["3", "3"], ["2", "2"],["1", "1"]],:prompt => "選択" %>
		        </div>
		        <div class="field">
		          <%= n.label :major_point %><br />
		          <%= n.select :major_point, [["5", "5"], ["4", "4"],["3", "3"], ["2", "2"],["1", "1"]],:prompt => "選択" %>
		        </div>
		        <div class="field">
		          <%= n.label :gain_point %><br />
		          <%= n.select :gain_point, [["5", "5"], ["4", "4"],["3", "3"], ["2", "2"],["1", "1"]],:prompt => "選択" %>
		        </div>
		        <div class="field">
		          <%= n.label :appeal_point %><br />
		          <%= n.select :appeal_point, [["5", "5"], ["4", "4"],["3", "3"], ["2", "2"],["1", "1"]],:prompt => "選択" %>
		        </div>
		        <div class="field">
		          <%= n.label :health_point %><br />
		          <%= n.select :health_point, [["5", "5"], ["4", "4"],["3", "3"], ["2", "2"],["1", "1"]],:prompt => "選択" %>
		        </div>
		        <div class="field">
		          <%= n.label :relax_point %><br />
		          <%= n.select :relax_point, [["5", "5"], ["4", "4"],["3", "3"], ["2", "2"],["1", "1"]],:prompt => "選択" %>
		        </div>
		        <div class="field">
		          <%= n.label :concentration_point %><br />
		          <%= n.select :concentration_point, [["5", "5"], ["4", "4"],["3", "3"], ["2", "2"],["1", "1"]],:prompt => "選択" %>
		        </div>
		       	<div class="field">
		          <%= n.label :cooperate_point %><br />
		          <%= n.select :cooperate_point, [["5", "5"], ["4", "4"],["3", "3"], ["2", "2"],["1", "1"]],:prompt => "選択" %>
		        </div>
		        <div class="field">
		          <%= n.label :consider_point %><br />
		          <%= n.select :consider_point, [["5", "5"], ["4", "4"],["3", "3"], ["2", "2"],["1", "1"]],:prompt => "選択" %>
		        </div>
		        <div class="field">
		          <%= n.label :cost_point %><br />
		          <%= n.select :cost_point, [["5", "5"], ["4", "4"],["3", "3"], ["2", "2"],["1", "1"]],:prompt => "選択" %>
		        </div>
		        <div class="field">
		          <%= n.label :artistic_point %><br />
		          <%= n.select :artistic_point, [["5", "5"], ["4", "4"],["3", "3"], ["2", "2"],["1", "1"]],:prompt => "選択" %>
		    	</div>
		    <% end %>
    	<div class="form-action">
    		<%= f.submit "登録", class: "btn btn-primary btn-xs" %>
    	</div>
    <% end %>
    </div>
  </div>
<br>
<br>
<br>
<br>
<br>
</div>