<main>
  <div class="container">
  	<p class="notice"><%= notice %></p>
  	<%= render 'layouts/sidebar', user: @user %>
  </div>
  <br>
  <br>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <h3>趣味名： <%= @hobby.name %></h3>
      </div>
      <div class="col-lg-5">
        <h3>総活動時間： <%= @total.sum %>時間</h3>
      </div>
    </div>
    <br>
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <%= area_chart @records, min: 0, max: 12, height: "500px", width: "1100px", colors: ["orange", "#999"], messages: {empty: "データがありません"}, xtitle: "活動日", ytitle: "時間",label: "時間", discrete: true %><br>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-11">
        <table class="table">
         <thead>
           <tr>
            <th>活動日</th>
            <th>活動時間</th>
            <th>特記事項</th>
          </tr>
        </thead>
        <% @rec.each do |record| %>
        <tbody>
          <tr>
            <td><%= record.date %></td>
            <td><%= record.time %>時間</td>
            <td><%= record.comment %></td>
          <% if current_user.id == @user.id or current_user.admin? %>
            <td><%= link_to '削除', users_record_delete_path(user_id: @user, record_id: record.id), method: :delete, class: 'btn btn-primary btn-xs', "data-confirm" => "Are you sure?" %></td>
          <% end %>
          </tr>
         </tbody>
        <% end %>
        </table>
      </div>
    </div>
    <br>
    <br>
    <br>
  </div>
  <div class="container">
    <% if current_user.id == @user.id %>
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <h3>活動を記録する</h3>
        <br>
      </div>
    </div>
    <%= form_for(@record, url: users_record_path(user_id: @user, hobby_id: @hobby)) do |f| %>
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <h5>活動日</h5>
        <div class="field">
          <%= f.text_field :date, :size=>"20x10", placeholder: "2019-01-01" %>
        </div>
      </div>
      <div class="col-lg-5">
        <h5>活動時間</h5>
        <div class="field">
          <%= f.text_field :time, :size=>"3x10", placeholder: "2" %>時間
        </div>
      </div>
    </div>
    <br>
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <h5>特記事項</h5>
        <div class="field">
          <%= f.text_field :comment, :size=>"80x10", placeholder: "できるようになったことなど（任意）" %>
        </div>
        <br>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="action">
          <%= f.submit "投稿する", class: "btn btn-primary btn-xs" %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</main>