<main>
  <div class="container">
  	<p class="notice"><%= notice %></p>
  	<%= render 'layouts/sidebar', user: @user %>
  </div>
  <br>
  <br>
  <!-- 活動記録 -->
  <div class="container">
  	<div class="row justify-content-center">
      	<div class="col-lg-4">
      		<h3>趣味名： <%= @hobby.hobby.name %></h3>
      	</div>
      	<div class="col-lg-4">
        		<h3>総活動時間： <%= @total.sum %>時間</h3>
      	</div>
    	</div>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
      <% if current_user.id == @user.id %>
    	<div class="row justify-content-center">
      	<div class="col-lg-8">
       		<h3>活動を記録する</h3>
       		<br>
  		    <%= form_for(@record, url: users_record_path(user_id: @user, hobby_id: @hobby.hobby)) do |f| %>
       		<h5>活動日</h5>
       	  <div class="field">
  			   <%= f.text_field :date, :size=>"20x10", placeholder: "2019-01-01" %>
  			  </div>
  			  <br>
  			  <h5>活動時間</h5>
       		<div class="field">
  			   <%= f.text_field :time, :size=>"3x10", placeholder: "2" %>時間
  			  </div>
  			  <br>
  			  <h5>コメント</h5>
  			  <div class="field">
  			    <%= f.text_field :comment, :size=>"80x10", placeholder: "できるようになったことなど（任意）" %>
  			  </div>
  			  <br>
  			  <div class="action">
  				  <%= f.submit "投稿する", class: "btn btn-primary" %>
  			  </div>
  		    <% end %>
      	</div>
      </div>
      <% end %>
    </div>
  </div>
</main>