<div class="container">
 <p class="notice"><%= notice %></p>
   <%= render 'layouts/sidebar', user: @user %>
</div>
<br>
<br>
<!-- マイコミュニティ表示 -->
<div class="container">
  <div class="row justify-content-lg-center">
    <div class="col-lg-10">
     <h3>活動中の趣味</h3>
     <% if !@records.empty?  %>
      <% @records.each do |record| %>
     <table>
      <thead>
        <tr>
          <th>イメージ</th>
          <th>趣味</th>
          <th>総活動時間</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= attachment_image_tag record.hobby, :image, :fill, 200, 200, :size => "200x200" %></td>
          <td><%= record.hobby.name %></td>
          <td><%= record.time %></td>
          <td><%= link_to "詳細", users_my_community_path(@user.id), class: "btn btn-primary" %></td>
        </tr>
        <% end %>
      <% end %>
      <% else %>
      <ul class="list-group-item">
        <div>
         現在、活動中の趣味はありません。
        </div>
      </ul>
      </tbody>
    </table>
    </div>
  </div>
</div>