<main>
<div class="container">
    <% if flash[:notice] %>
    <%= flash[:notice] %>
    <% end %>
</div>
<div class="container">
      <div class="row justify-content-center">
      	<div class="col-lg-3">
          	<div class="hobby_image">
          		<%= attachment_image_tag @hobby, :image, :fill, 250, 250, :size => "250x250", fallback: "no-category-image.jpg" %>
          	</div>
        	</div>
        	<div class="col-lg-6">
        		<h5 class="category_name">カテゴリー &nbsp <u><%= @hobby.category.category %></u></h5><br>
        		<h5 class="hobby_name">趣味名 &nbsp <u><%= @hobby.name %></u></h5><br>
            <h5 class="people">参加者 &nbsp <u><%= @people %>人</u></h5><br>
          	<div class="card">
            		<div class="card-body">
              		<%= @hobby.introduction %>
            		</div>
          	</div>
        	</div>
          <div class="col-lg-3">
            <%= link_to "趣味に追加する", hobby_add_path(@hobby), method: :post, class: "btn btn-primary" %>
            <br>
            <br>
            <%= link_to "チャレンジ一覧", community_index_path, class: "btn btn-primary" %>
          </div>
      </div>
      <br>
      <br>
      <div class="row">
      	<div class="col-lg-6">
          <h3 class="black_band"><%= @hobby.name %>の始め方</h3>
        </div>
        <div class="col-lg-6">
          <h3 class="black_band">始めるにあたり</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
        <br>
          <h4>&nbsp<%= @hobby.first_step.introduction %></h4>
        </div>
        <div class="col-lg-6">
          <br>
          <h4>&nbsp必要アイテム:</h4>
          <h5>&nbsp&nbsp<%= @hobby.first_step.item %></h5>
          <br>
          <h4>&nbsp費用目安:</h4>
          <h5>&nbsp&nbsp¥ <%= @hobby.first_step.cost %>〜</h5>
      	</div>

      </div>
  </div>
<br>
<br>
<br>
<br>
<br>
</main>