<div class="container">
  <%= flash[:notice] %>
  <div class="row justify-content-md-center mb-lg-5">
    <div class="col-md-10">
    <h2>新規趣味登録</h2><br>
    <%= form_for @community, url: community_create_path(@hobby) do |f| %>
    	<div class="form-group">
          <%= f.label :チャレンジ名 %><br>
          <%= f.text_field :name %>
        </div>
        <div class="form-group">
		  <%= f.label :難易度 %><br />
		  <%= f.select :level, [["初級", "初級"], ["中級", "中級"], ["上級", "上級"]],:prompt => "選択" %>
		</div>

		<div class="form-group">
          <%= f.label :説明文 %><br>
          <%= f.text_field :introduction %>
        </div>
    	<div class="form-action">
    		<%= f.submit "登録", class: "btn btn-primary" %>
    	</div>
    <% end %>
    </div>
  </div>
<br>
<br>
<br>
<br>
<br>
</div>