<main>
<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-3">
    		<div class="hobby_image">
       		<%= attachment_image_tag @community.hobby, :image, :fill, 250, 250, :size => "250x250", fallback: "no-category-image.jpg" %>
      	</div>
      </div>
      <div class="col-lg-5">
        <h5 class="community_name">チャレンジ名 &nbsp <u><%= @community.name %></u></h5><br>
        <h5>紹介文</h5>
        <div class="card">
          <div class="card-body">
            <%= @community.introduction %>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <%= link_to "チャレンジに追加する", community_add_path(@community), method: :post, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <h3>チャレンジ掲示板</h3>
    </div>
    <br>
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <table class = "table">
        <% @boards.each.with_index do |board, i| %>
          <tr>
            <td></td>
            <td><%= i+1 %></td>
            <td><%= board.comment %></td>
            <td><%= link_to user_path(board.user.id) do %><%= board.user.name %>さん<% end %></td>
            <td><%= board.created_at.strftime('%Y/%m/%d') %></td>
            <td><% if current_user.id == board.user_id %>
            <%= link_to '削除', board_comment_delete_path(@community.id, :board_comment_id => board.id), method: :delete, class: 'btn btn-primary', "data-confirm" => "Are you sure?" %></td>
          <% end %>
          </tr>
        <% end %>
        </table>
      </div>
    </div>
    <%= form_for @board, url: board_comment_add_path(@community.id) do |f| %>
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h5>コメント</h5>
        <div class="field">
          <%= f.text_field :comment, :size=>"60x10", placeholder: "コメント" %>
        </div>
        <br>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="action">
          <%= f.submit "投稿する", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</main>