<!DOCTYPE html>
<html>
  <head>
    <title>QUAINT</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render "layouts/navbar" %>
    <%= yield %>
  </body>
  <footer class="container-fluid bg-light">
    <div class="row">
      <div class="col-4 d-flex">
        <p class="text-secondary">© 2019 Copyright Text</p>
      </div>
    </div>
  </footer>
</html>